[Desktop Entry]
Encoding=UTF-8
Name=Sharedexcoin
Comment=Sharedexcoin P2P Cryptocurrency
Comment[fr]=Sharedexcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Sharedexcoin, eşten eşe kriptografik sanal para birimi
Exec=sharedexcoin-qt %u
Terminal=false
Type=Application
Icon=sharedexcoin128
MimeType=x-scheme-handler/sharedexcoin;
Categories=Office;Finance;
